%nav.tab-bar.hide-for-large-up
  %section.left-small
    %a.left-off-canvas-toggle.menu-icon
      %span
  %section.middle.tab-bar-section
    %h1.title Interface
%aside.left-off-canvas-menu
  %ul.off-canvas-list
    %li
      %label Interface
    = render 'navigations/links'
%a.exit-off-canvas